#root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(0, 37, 70);
  background-color:rgb(255, 213, 205);
  height: 100vh;
  width: 100%;
  text-align: center;
}

.header {
  background-color: rgb(253, 136, 136);
  height: 100px;
  padding: 10px 25px 25px 10px;
}

.btns {
  color: white;
  font-style: italic;
  font-weight: bolder;
  background-color: rgb(253, 136, 136);
}

.editBtns {
  color: white;
  font-style: italic;
  font-weight: bolder;
  background-color: rgb(253, 136, 136);
  padding: 10px 10px 10px ;
  margin-bottom: 1vh;
  justify-content: right;
}
